services:
  frontend:
    build:
      context: ./frontend
      dockerfile: DockerFile
    ports:
      - "5173:80"
    environment:
      - VITE_API_URL=http://backend:8000
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: DockerFile
    ports:
      - "8000:8000"
